@import url('../../../assets/css/var.scss');
.lightMode {
	background-color: var(--color-dark); // or the color you want for light mode
	color: var(--color-light);
}

// .lightMode a {
// 	color: var(--color-dark);
// 	background-color: var(--color-light);
// }

.darkMode {
	background-color: var(--color-light); // or the color you want for dark mode
	color: var(--color-dark);
}

// .darkMode a {
// 	color: var(--color-dark);
// 	background-color: var(--color-light);
// }
