.skills-front {
	position: absolute;
	top: 200%;
	left: 8%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 83%;

	&-icon-react {
		width: 1.6rem;
		animation: react-spin infinite 20s linear;
	}

	&-icon-js {
		width: 1.5rem;
	}

	&-icon-html {
		width: 1.4rem;
	}

	&-icon-css {
		width: 1.4rem;
	}
}

.skills-back {
	position: absolute;
	top: 450%;
	left: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;

	&-icon-nodejs {
		width: 1.6rem;
	}

	&-icon-expressjs {
		width: 1.6rem;
	}

	&-icon-psql {
		width: 1.6rem;
	}
}

@keyframes react-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 768px) {
	.skills-front {
		&-icon-react {
			width: 2rem;
		}
		&-icon-js {
			width: 2rem;
		}
		&-icon-html {
			width: 2rem;
		}
		&-icon-css {
			width: 2rem;
		}
	}

	.skills-back {
		&-icon-nodejs {
			width: 2rem;
		}
		&-icon-expressjs {
			width: 2rem;
		}
		&-icon-psql {
			width: 2rem;
		}
	}
}
