@import url('../../../assets/css/var.scss');

.skills-front {
	&-react {
		width: 5rem;
		animation: react-spin infinite 20s linear;

		&-text {
			font-size: 1.7rem;
		}
	}

	&-js {
		width: 4rem;
		&-text {
			font-size: 1.7rem;
		}
	}

	&-html {
		width: 4rem;
		&-text {
			font-size: 1.7rem;
			text-align: center;
		}
	}

	&-css {
		width: 4rem;
		&-text {
			font-size: 1.7rem;
			text-align: center;
		}
	}
}

.skills-back {
	&-nodejs {
		width: 4rem;
		&-text {
			font-size: 1.7rem;
		}
	}

	&-expressjs {
		width: 4rem;
		&-text {
			font-size: 1.7rem;
		}
	}

	&-psql {
		width: 4rem;
		&-text {
			font-size: 1.7rem;
		}
	}
}

/* Conteneur de la carte */
.flip-card {
	width: calc(85% / 2);
	height: 5rem;
	cursor: pointer;
	justify-content: center;
	margin: 1rem 0 1rem 0;
}

/* Conteneur intérieur pour l'animation */
.flip-card-inner {
	transition: transform 0.6s; /* Animation de transition */
	transform-style: preserve-3d; /* Conserve la 3D pendant l'animation */
}

/* Classe pour retourner la carte */
.flip-card-inner.flipped {
	transform: rotateY(180deg); /* Retourne la carte à 180 degrés */
}

/* Styles pour les faces avant et arrière */
.flip-card-front,
.flip-card-back {
	position: absolute;
	backface-visibility: hidden; /* Cache la face arrière pendant l'animation */
}

.flip-card-back .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0; /* Réinitialiser le padding par défaut de Bootstrap */
	margin: 0; /* Réinitialiser la marge par défaut de Bootstrap */
}

/* Face arrière */
.flip-card-back {
	transform: rotateY(180deg); /* Retourne la face arrière initialement */
}

@keyframes react-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 768px) {
	// .skills-front {
	// 	&-icon-react {
	// 		width: 2rem;
	// 	}
	// 	&-icon-js {
	// 		width: 2rem;
	// 	}
	// 	&-icon-html {
	// 		width: 2rem;
	// 	}
	// 	&-icon-css {
	// 		width: 2rem;
	// 	}
	// }

	// .skills-back {
	// 	&-icon-nodejs {
	// 		width: 2rem;
	// 	}
	// 	&-icon-expressjs {
	// 		width: 2rem;
	// 	}
	// 	&-icon-psql {
	// 		width: 2rem;
	// 	}
	// }
}
