.aboutPage {
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;

	&-iconHome {
		margin: 1rem 0;
	}

	&-title {
		font-size: 1.7rem;
		margin: 2rem 0;
	}

	&-subtitle {
		font-size: 1.3rem;
		margin: 0 0 1.5rem;
	}

	&-text {
		font-size: 1.1rem;
		padding: 1rem 0 0;
	}
}

// Pour les écrans un peu plus grands (phablets, petites tablettes)
@media screen and (min-width: 480px) {
	.aboutPage {
		width: 90%;

		&-title {
			font-size: 2.1rem;
		}

		&-subtitle {
			font-size: 1.5rem;
		}

		&-text {
			font-size: 1.3rem;
			padding: 2rem 0 0;
		}
	}
}

// Pour les tablettes plus grandes
@media screen and (min-width: 768px) {
	.aboutPage {
		width: 85%;

		&-iconHome {
			width: 2rem;
			margin: 1.5rem 0;
		}
		&-title {
			font-size: 3rem;
		}

		&-subtitle {
			font-size: 2.5rem;
		}

		&-text {
			font-size: 1.8rem;
			padding: 2.5rem 0 0;
		}
	}
}

// Pour les écrans de bureau
@media screen and (min-width: 1024px) {
	.aboutPage {
		width: 60%;

		&-title {
			font-size: 3rem;
		}

		&-subtitle {
			font-size: 2.2rem;
		}

		&-text {
			font-size: 1.8rem;
			padding: 3rem 0 0;
		}
	}
}
