.aboutPage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: auto;
	&-title {
		font-size: 1.9rem;
		margin: 3rem 0 2rem 0;
	}
	&-subtitle {
		font-size: 1.4rem;
		margin: 0 0 2rem 0;
	}

	&-text {
		font-size: 1.2rem;
	}
}
