.contactPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;

	&-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		&-name {
			margin: 1rem 0 0.5rem 0;
		}
		&-email {
			margin: 0.5rem 0 1rem 0;
		}
		&-message {
			margin: 1rem 0 1rem 0;
			width: 11rem;
			height: 5rem;
		}
		&-button {
			margin: 1rem 0 1rem 0;
		}
	}

	&-weather {
		justify-content: space-around;
		display: flex;

		align-items: center;
		width: 90%;

		&-city {
			font-size: 1.2rem;
		}

		&-description {
			font-size: 1.1rem;
		}
	}

	&-map {
		margin: 1rem 0 1rem 0;
		width: 20rem;
		height: 17rem;
	}

	&-iconHome {
		margin: 1rem 0 1rem 0;
	}
	&-weather-icon {
		filter: invert(1);
		font-size: 2rem;
	}

	&-weather-icon-dark {
		filter: invert(0);
		font-size: 2rem;
	}
}
